.Card {
  background-color: #f8f8f8;
  border-radius: 3px;
  overflow: hidden;
  margin: 20px auto 0px auto;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px 10px;
  flex: 1;
  display: flex;
}

.Card:hover {
  box-shadow: 0 0px 7px #888;
}

.Wrapper {
  outline: none;
  background: white;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 4px #999;
  margin: 20px;
}

.Wrap span:after {
  font-size: 20px;
  margin-left: 5px;
  content: "\f044";
  font-family: FontAwesome;
  display: inline-block;
  padding-right: 3px;
  vertical-align: middle;
  font-weight: 900;
}

.Wrap {
  padding: 10px 0;
}

.Loading {
  width: 64px;
  margin: calc((100vh - 64px) / 2) auto;
}

.InlineEdit {
  cursor: pointer;
}


.InlineEdit:hover {
  text-decoration: underline;
}

.Answer:hover {
	color: #666;
  box-shadow: 0 0px 7px #888;
}

.Correct {
  background-color: rgb(27, 237, 15);
  border-radius: 3px;
  overflow: hidden;
  margin: 20px auto 0px auto;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px 10px;
  flex: 1;
  display: flex;
}

.Correct:hover {
  box-shadow: 0 0px 7px #888;
}
