.UserTest {
  outline: none;
  background: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 4px #999;
  margin: 20px;
}

.UserTest input:hover, label:hover {
 cursor: pointer;
}

.Question {
  font-size: 20px;
}

.Answer input[type=radio] {
	display: none;
}

.Answer label {
	cursor: pointer;
	user-select: none;
  background-color: #f8f8f8;
  border-radius: 3px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
  transition: box-shadow 0.18s cubic-bezier(0.4, 0, 0.2, 1);
  padding: 5px 10px;
  flex: 1;
  display: flex;
  margin-bottom: 0;
}

.Answer input[type=radio]:checked + label {
	background: #ffe0a6;
}

.Answer label:hover {
	color: #666;
  box-shadow: 0 0px 7px #888;
}

.Answer input[type=radio]:disabled + label {
	background: #efefef;
	color: #666;
}

.Loading {
  width: 64px;
  margin: calc((100vh - 64px) / 2) auto;
}
