.Results {
  outline: none;
  background: white;
  border-radius: 5px;
  padding: 30px;
  box-shadow: 0 0 4px #999;
  margin: 20px;
}

.Results p {
  margin-bottom: 0;
}

.Question {
  font-size: 20px;
}

.Correct {
  background-color: green;
}

.Incorrect {
  background-color: red;
}

.Loading {
  width: 64px;
  margin: calc((100vh - 64px) / 2) auto;
}
